<div class="h-100vh">
  <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
    <h1 class="text-center mb-5 fw-bold">Sign Up</h1>
    <form [formGroup]="form" (submit)="signin()">
      <div class="row">
        <div class="col-12">
          <div class="mb-3 w-100">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control border-secondary bg-white w-100 fs-12" style="--bs-border-opacity: .5;" id="exampleFormControlInput1" placeholder="Enter your email address..." autocomplete="off" formControlName="login">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3 w-100">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control border-secondary bg-white w-100 fs-12" style="--bs-border-opacity: .5;" id="exampleFormControlInput1" placeholder="Enter your password" formControlName="password">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3 w-100">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control border-secondary bg-white w-100 fs-12" style="--bs-border-opacity: .5;" id="exampleFormControlInput1" placeholder="Enter your first name" formControlName="name">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4 w-100">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="text" class="form-control border-secondary bg-white w-100 fs-12" style="--bs-border-opacity: .5;" id="exampleFormControlInput1" placeholder="Enter your last name" formControlName="surname">
          </div>
        </div>
      </div>
      
      <button type="submit" class="btn border-dark bg-black text-white bg-opacity-100 w-100 mb-3 mt-3 fs-11">
        Sign up
      </button>
      <p class="text-muted text-center mt-3 fs-10"><small>By clicking “Continue with Apple/Google/Email/SAML” above, you acknowledge that you have read and understood, and agree to Notion's and agree to Easy Note's Terms & Conditions and Privacy Policy</small></p>
    </form>
  </div>
  <!-- <div class="hero-bottom-section">
    <img src="https://img.freepik.com/free-vector/abstract-horizontal-grid-lines-graph-style-graphic-design_1017-39918.jpg?w=2000" class="hero-bottom" alt="">
  </div> -->
</div>